<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/maapesdb?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="hibernate.connection.username">mantenimiento</property>
        <property name="hibernate.connection.password">mantenimiento</property>

		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.show_sql">true</property>

        <mapping resource="edu/uag/iidis/scec/modelo/Usuario.hbm.xml"/>
        <mapping resource="edu/uag/iidis/scec/modelo/Rol.hbm.xml"/>
        <mapping resource="edu/uag/iidis/scec/modelo/Estado.hbm.xml"/>
        <mapping resource="edu/uag/iidis/scec/modelo/Ciudad.hbm.xml"/>
        <mapping resource="edu/uag/iidis/scec/modelo/Gente.hbm.xml"/>
        <mapping resource="edu/uag/iidis/scec/modelo/Login.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/Test.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/Section.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/Question.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/Answer.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/TestSection.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/Try.hbm.xml" ></mapping>
        <mapping resource="edu/uag/iidis/scec/modelo/UserAnswer.hbm.xml" ></mapping>

    </session-factory>

</hibernate-configuration>
